@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      /* font-family: 'DM Sans', sans-serif; */
      @apply font-helvetica
    }
}

body {
  transition: background-color 600ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

h1, p, .title {
  transition: color .6s cubic-bezier(.65,.05,.36,1);
}

a {
    color: theme('colors.primary.500');
}

.nav ul li {
    display: flex;
    align-items: center;
}

main {
    max-width: 1080px;
    margin: auto;
}

section {
    padding: 8rem 0;
}

section .title i {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 50px;
  background: theme('colors.primary.500');
}

button {
  color: #000000;
  font-weight: 700;
}

.title {
    display: inline-block !important;
    font-weight: 700;
}

section .title span {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 48px;
    letter-spacing: -0.05rem;
    @apply font-helvetica
}

p {
    font-size: theme('fontSize.2xl');
    color: theme('colors.primary.500');
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: -0.05rem;
    @apply font-helvetica
}

.logo-brand img {
  width: 77px;
  height: 24px;
}

.logo-section {
    position: absolute;
    left: 0;
}


#rectangle span {
    content: "";
    transition: 1s ease;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0;
    border-color: #27232c #27232c theme("colors.green.500") theme("colors.green.500");
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: theme("colors.green.500");
}

.word {
  transform-origin: 0 100%;
  display: inline-block;
}

.reveal-img {
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.accordion button::after {
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-right: 17px;
    content: "";
    background-image: url("../assets/img/plus.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion button:not(.collapsed)::after {
    background-image: url("../assets/img/minus.png");
    transition: transform .2s ease-in-out;
}

@media(max-width: 1092px) {
    section {
        padding: 3rem 0;
    }

    .logo-section {
        position: relative;
    }
}

@media(max-width: 750px) {
    section {
        padding: 1rem 0;
    }

    .container {
        padding: 2rem;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 1.25rem;
        transition: 1s;
    }
}

.logo {
    padding: 30px 40px;
    background-color: #312C37;
}

.reveal-text {
    visibility: hidden;
}

.line {
    position: relative;
    overflow: hidden;
    display: flex;
}

:root {
    --color-text: navy;
    --color-bg: papayawhip;
    --color-bg-accent: #ecdcc0;
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
    --primary-500: theme("colors.primary.500");
    --primary-800: theme("colors.primary.800");
    --dark: theme("colors.dark")
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: papayawhip;
      --color-bg: navy;
      --color-bg-accent: #2626a0;
    }
  }
  
  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
  }

  .collapse {
    visibility: inherit;
  }

  .accordion-button:not(.collapsed) {
    background-color: theme('colors.dark') !important;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }
  
  .marquee--vertical {
    --mask-direction: to bottom;
  }
  
  .marquee--vertical,
  .marquee--vertical .marquee__group {
    flex-direction: column;
  }
  
  .marquee--vertical .marquee__group {
    animation-name: scroll-y;
  }
  
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -3s;
  }
  
  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }
  
  @keyframes scroll-y {
    from {
      transform: translateY(var(--scroll-start));
    }
    to {
      transform: translateY(var(--scroll-end));
    }
  }
  
  /* Element styles */
  .marquee svg {
    display: grid;
    place-items: center;
    width: var(--size);
    fill: var(--color-text);
    background: var(--color-bg-accent);
    aspect-ratio: 16/9;
    padding: calc(var(--size) / 10);
    border-radius: 0.5rem;
  }
  
  .marquee--vertical svg {
    aspect-ratio: 1;
    width: calc(var(--size) / 1.5);
    padding: calc(var(--size) / 6);
  }
  
  /* Parent wrapper */
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    max-width: 100vw;
  }
  
  /* Toggle direction button */
  .toggle {
    --size: 3rem;
    position: relative;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: var(--size);
    height: var(--size);
    font: inherit;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    color: inherit;
    background-color: var(--color-bg-accent);
    z-index: 1;
  }
  
  .toggle span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: calc(100% + 0.4em);
    width: fit-content;
    white-space: nowrap;
    transform: translateY(-50%);
    animation: fade 400ms 4s ease-out forwards;
    user-select: none;
  }
  
  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  

.light-mode {
  background-color: theme("colors.primary.500");
}

.dark-mode {
  background-color: theme("colors.dark");
}

body.light-mode h1, body.light-mode p, body.light-mode .title {
  color: theme("colors.dark");
}

body.light-mode i {
  background: theme("colors.dark");
}

body.dark-mode h1, body.dark-mode p, body.dark-mode .title {
  color: theme("colors.primary.500");
}

body.dark-mode i {
  background: theme("colors.primary.500");
}